* {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

.carousel-item img {
    max-width: 100%;
    overflow: hidden;
}
.card img {
    max-height: 400px;
}
.hide{
display:none !important
}

@media (min-width: 576px) and (max-width:768px) {
    .card-deck .card {
        flex: 45% !important
    }
}

@media (min-width: 769px) {
    .card-deck .card {
        flex: 30% !important
    }
}