* {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

.container-bg {
    background-image: url("assets/background.jpg");
}

.carousel-item img {
    max-width: 100%;
    overflow: hidden;
}

.card img {
    max-height: 400px;
}

.hide {
    display: none !important
}

.container-height {
    height: 100vh;
}

@media (min-width: 576px) {
    .card-deck .card {
        flex: 30% !important
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        flex: 25% !important
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        flex: 20% !important
    }
}