* {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
.logo-name{
    font-size: 80px;
    color: white;
}
.mini-logo{
    height:40px;
}
.navbar-brand{
    margin-right: 0 !important
}
.white-color{
    color:white;
}
.img-logo{
    width: 100%;
}
.container-bg {
    background-image: url("assets/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.carousel-item img {
    max-width: 100%;
}

.card img {
    max-height: 400px;
}

.hide {
    display: none !important
}

.container-height {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.form-height {
    height: 30%;
}
.width-total{
    width: 100%;
}

@media (min-width: 576px) {
    .card-deck .card {
        flex: 30% !important
    }
    .img-logo{
        width: 75%;
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        flex: 25% !important
    }
    .img-logo{
        width: 50%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        flex: 20% !important
    }
    .img-logo{
        width: 35%;
    }
}